.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  .section1 {
    flex: 2;
    margin: 20px;
    form{
      button{
        border: none;
        font-size: 20px;
        border-radius: 2px;
      }
    }
  }
  .card {
    flex: 1;
    margin: 20px;
    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .total {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
