<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">USer ID</th>
        <th scope="col">Date</th>
        <th scope="col">Handeled TO</th>
        <th scope="col">Phone</th>
        <th scope="col">Shipping Adress</th>
        <th scope="col">Total Sum</th>
        <th scope="col">Items Count</th>
        <th scope="col">Order</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of orders; let index = index">
        <th scope="row">{{ index + 1 }}</th>
        <td>{{ item?.user }}</td>
        <td>{{ item?.date | date }}</td>
        <td>{{ item?.form?.uname }}</td>
        <td>{{ item?.form?.phone }}</td>
        <td>{{ item?.form?.adress }} , {{ item?.form?.city }}</td>
        <td>{{ item?.totalSum | currency }}</td>
        <td>{{ item?.counter }}</td>
        <td>
          <span
            class="w-100 d-flex"
            *ngFor="let x of Object.entries(item.cart)"
          >
            {{ x[0] }} : {{ getQuant(x[1]) }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
