<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-sm-12 col-lg-3">
        <h5>Categories</h5>
        <ul>
          <li>Cleansing the Body</li>
          <li>Weight Loss</li>
          <li>Balanced Diet</li>
          <li>Sports Nutrition</li>
          <li>Diabetic Nutrition</li>
          <li>Hypocholesterol Nutrition</li>
          <li>Vegetarian Food</li>
          <li>Food for Moms</li>
        </ul>
      </div>
      <div class="col col-sm-12 col-lg-3">
        <h5>Buy with Us.</h5>
        <ul>
          <li>Buy with Us</li>
          <li>About Us</li>
          <li>Services</li>
          <li>Contact Us</li>
          <li>FAQs</li>
          <li>Privacy Policy</li>
          <li>Cookie Policy</li>
          <li>Terms and Conditions</li>
        </ul>
      </div>
      <div class="col col-sm-12 col-lg-5">
        <h5>Newsletter Signup</h5>
        <p>
          Sign up for our e-mail and be the first who know our special offers!
          Furthermore, we will give a 15% discount on the next order after you
          sign up.
        </p>
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control shadow-none"
            placeholder="Enter Your e-mail"
          />
          <span class="input-group-text">Get</span>
        </div>
        <div class="icons">
          <!-- <fa-icon [icon]="" ></fa-icon> -->
        </div>
      </div>
    </div>
  </div>
  <div class="container copywrite d-flex justify-content-start text-start">
    &#169; All Copywrites are reserved for the owners 2030
  </div>
</footer>
