<div>
  <div class="content">
    <div class="col-6">
      <h1>Good food is the foundation of genuine happiness.</h1>
      <p>Auguste Escoffier</p>
      <div class="buttons">
        <a class="btn btn-danger mt-4" routerLink="/store">Our Store</a>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
  <video autoplay loop muted oncanplay="this.play()" onloadedmetadata="this.muted = true">
    <!-- <video autoplay loop muted> -->
    <!-- <source
      src="https://firebasestorage.googleapis.com/v0/b/angular-ecommerce.appspot.com/o/videoplayback.mp4?alt=media&token=9c6f35d9-06d2-4036-b75b-d9a3d5f7188d"
      type="video/mp4"
    /> -->
    <source src="assets/videos/videoplayback12m.mkv" type="video/mp4" />
  </video>
</div>